@import ".././utils/variables.scss";

.cards-list-wrapper {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .card {
    padding: 1rem;
    width: 16rem;
    height: 7rem;
    border-radius: 1rem;
    background: $color-secondary;
    box-shadow: -2px 20px 70px -30px $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card-desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $color-white;

      h1 {
        font-size: 1.7rem;
        font-weight: 800;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    .card-icon {
      align-self: flex-start;
      padding: 0.3rem;
      color: $color-white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      svg {
        width: 1.2rem;
        height: 1.2rem;
      }

      &:hover {
        background: $color-white-hover;
      }
    }

    &:nth-of-type(2) {
      background: $color-primary;
    }
    &:nth-of-type(3) {
      background: $color-tertiary;
    }
    &:nth-of-type(4) {
      background: $color-primary-light;
    }
  }
}

@media (max-width: 1750px) {
  .cards-list-wrapper {
    gap: 1.5rem;

    .card {
      .card-desc {
        h1 {
          font-size: 1.5rem;
        }

        h2 {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .cards-list-wrapper {
    flex-wrap: wrap;
    gap: 1rem;

    .card {
      width: 14rem;
      height: 5rem;

      .card-desc {
        h1 {
          font-size: 1.5rem;
        }

        h2 {
          font-size: 1.1rem;
        }
      }
    }
  }
}
