@import ".././utils/variables.scss";

.plus-btn {
  border: none;
  background: $color-primary;
  border-radius: 15px 0 15px 15px;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 27px 46px -11px $color-primary;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  svg {
    width: 2rem;
    height: 2rem;
    fill: $color-white;
  }

  &:hover {
    transform: scale(1.15);
  }

  &:active {
    transform: scale(0.9);
    background: $color-secondary;
  }
}

@media (max-width: 1750px) {
  .plus-btn {
    width: 3.5rem;
    height: 3.5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
