@import ".././utils/variables.scss";

.top-buttons-wrapper {
  width: 100%;
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  gap: 0.8rem;

  .language-select {
    background: none;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    color: $color-primary-dark;
    cursor: pointer;
  }

  svg {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      fill: $color-secondary;
    }
  }

  .bell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
  }
}
